form{
    display:flex;
    gap:15px;
    margin:30px auto 40px;
    max-width:900px;
}

form input{
    flex:1;
    padding:14px 18px;
    border:none;
    border-radius:10px;
    background:#1f2937;
    color:white;
    font-size:16px;
}

form input::placeholder{
    color:#94a3b8;
}

corm button{
    width:220px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.25s;
}

form button:hover{
    background:#1d4ed8;
}

form button:disabled{
    background:#64748b;
    cursor:not-allowed;
}