form {
    display: flex;
    gap: 16px;
    max-width: 900px;
    margin: 30px auto;
}

form input {
    width: 100%;
    min-width: 500px;
    padding: 14px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #475569;
    background: #1f2937;
    color: white;
}

form button {
    min-width: 200px;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

form input::placeholder{
    color:#94a3b8;
}

form button:hover{
    background:#1d4ed8;
}

form button:disabled{
    background:#64748b;
    cursor:not-allowed;
}